.parent{
  background-color: pink;
}
.child{
  margin-top: 20px;
  height: 200px;
  background-color: teal;
}
.clearfix:before,
.clearfix:after{
  content: '';
  display: table;
}
.clearfix:after{
  clear: both;
}
